target/
ext-build-artifacts/
.classpath
.project
.springBeans
.settings/
.*/
*.bak
.cache
rebel.xml
**/git.properties
**/bin
**/journal
journal/
**/snapshots
**/jurnal-core
*.log
*.iml
*.eml
*.userlibraries
.DS_Store
**/.idea